@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display&family=Big+Shoulders+Stencil+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
/* base.html page */
.logo {
  font-family: 'Oswald', sans-serif;
}


#home {
  margin-left: 30%;
}

.barmenu li {
  float: right;
  margin-bottom: 0;
}

footer {
  height: auto;
}

.ficons {
  font-size: 150%;
}

/* index.html page */

.aboutDiv {
  background-color: #d4d4d4;
}

.comment-form {
  margin-top: 1.3em;
}

@media acreen and (max-width: 992px) {

  .logo {
    font-size: 300%;
  }

}

@media screen and (max-width: 576px) {

  .logo {
    font-size: 200%;
  }

  .card {
    height: 500px;
  }

}
