{% extends "base.html" %}

{% block content %}
<div class="card mb-5">
 <img src="https://dcukarate.files.wordpress.com/2016/10/karate-books-3.jpg" class="img-fluid" alt="library">
  <div class="card-img-overlay overflow-scroll bg-white col-6 ml-0">
    <h2 class="text-center">----------<i class="fas fa-book"></i>-----------</h2>
    <p>Looking  for a book about karate (particularly Shotokan) but not sure
        where to start? You've come to the right place. The books below cover
        technique, history and autobiographies and all come recommended by DCU
        Karate Club (high praise indeed). Click on the title links to go to Amazon
        or other sites where the books can be purchased. Happy Reading!
    </p>
    <ul>
      <li>
        <strong>
          <a href="https://www.amazon.co.uk/d/Books/Bushido-Japan-Exposition-Japanese-Thought-Inazo-Nitobe/1430472219/ref=sr_1_2?s=books&amp;ie=UTF8&amp;qid=1486328589&amp;sr=1-2&amp;?ie=UTF8&amp;tag=dckacl-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=0870117882" target="_blank">Bushido: The Soul of Japan</a>
        </strong>
        <br>
        <em>
          Inazo Nitobe
        </em>
        <br>
          From 1905, this is the first book written in English by a Japanese authority
          attempting to explain the concept of bushido to a western audience. Although
          not as well known as other texts on the subject, this book is a must read for
          anyone who wants to understand the role of bushido in Japanese society and how
          it influences Japanese martial arts.
      </li>
      <li><strong><a href="https://www.amazon.co.uk/gp/product/0870117882?ie=UTF8&amp;tag=dckacl-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=0870117882" target="_blank">Dynamic Karate</a></strong><br>
        <em>
          Masatoshi Nakayama
        </em>
        <br>
          Probably the favourite karate book of every serious Shotokan practitioner. This
          books contains detailed explanations and photographs of all fundamental Shotokan
          techniques. However the reason for its popularity is the series of action shots
          it contains of the pioneers of modern Shotokan in their prime. The likes of Hiroshi
          Shirai, Hideo Ochi, Hirokazu Kanazawa, Hidetaka Nishiyama and their peers are pictured
          in fantastic, moody, dynamic, black and white photos.Note this book does not cover kata.
      </li>
      <li><strong><a href="https://www.amazon.co.uk/gp/product/0804816689?ie=UTF8&amp;tag=dckacl-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=0804816689" target="_blank">Karate: The Art of Empty-hand Fighting</a> </strong><br>
        <em>
          Hidetaka Nishiyama / Richard C Brown
        </em>
        <br>
          First published in 1960, this is one of the first books written in English on
          Shotokan. Provides detailed explanations and photographs of all the fundamental
          techniques. Also covers kumite and kata (but only heian yondan). Similar to
        <em>
          Dynamic Karate
        </em>
          in that it contains some nice photos of the pioneers of Shotokan karate.
      </li>
      <li>
        <strong>
          <a href="https://www.amazon.co.uk/gp/product/0901764515?ie=UTF8&amp;tag=dckacl-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=0901764515" target="_blank">Moving Zen: Karate as a Way to Gentleness</a>
        </strong>
        <br>
        <em>
          CW Nicol
        </em>
        <br>
          The memoirs of one of the first Westerners to train extensively at the JKA HQ in
           Tokyo examining how his training impacted on his personal development. Also
           interesting to see how karate was perceived and practised in the 1960's and
           also to see how foreigners were were regarded in 1960's Japan.
      </li>
      <li>
        <strong>
          <a href="https://www.amazon.co.uk/gp/product/1933901284?ie=UTF8&amp;tag=dckacl-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=1933901284" target="_blank">Shotokan Karate: Its History and Evolution</a>
        </strong>
        <br>
        <em>
          Randall G Hassell
        </em>
        <br>
          Covers the history of Shotokan from Okinawa to Japan and its subsequent dissemination
          internationally, but from an American political perspective.
      </li>
      <li>
        <strong>
          <a href="https://www.amazon.co.uk/gp/product/1570627487?ie=UTF8&amp;tag=dckacl-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=1570627487" target="_blank">The Book of Five Rings</a>
        </strong>
         (Go Rin No Sho)
        <br>
        <em>
          Miyamoto Musashi
        </em>
        <br>
          The strategy and teachings of the legendary Japanese swordsman and warrior born in
          1584. Interesting to see how his strategic approach can be applied to everything
          from business and construction to mass combat and individual combat. A Japanese
          equivalent of Sun Tzu's Art of War.
      </li>
      <li>
        <strong>
          <a href="https://www.amazon.co.uk/gp/product/4770024770?ie=UTF8&amp;tag=dckacl-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=4770024770" target="_blank">The Heart of Karate-do</a>
        </strong>
        <br>
        <em>
          Shigeru Egami
        </em>
        <br>
          Covers, basic technique, kumite and kata (very briefly). The techniques
          demonstrated and described relate more to Shotokai than Shotokan, but it is
          interesting to make comparisons.
      </li>
      <li>
        <strong>
          <a href="http://www.kamikazeweb.com/index.php?action=article_detailed&amp;id=00200&amp;type=cesta&amp;ptrcode=28210" target="_blank">The History of Karate: Okinawan Goju-ryu</a>
        </strong>
        <br>
        <em>
          Morio Higaonna
        </em>
        <br>
          Written by a living legend of Okinawan karate, this book covers the history and
          development of Goju-ryu karate on Okinawa and in Japan.
      </li>
      <li>
        <strong>
          <a href="http://www.kamikazeweb.com/index.php?action=article_detailed&amp;id=00181&amp;type=cesta&amp;ptrcode=28210" target="_blank">To-te Jitsu</a>
        </strong>
        <br>
        <em>
          Gichin Funakoshi
        </em>
        <br>
          A translation of one of Funakoshi's first books, published in 1922. Most of the book
          is given over to the original 15 kata of Shotokan, but basic techniques and kumite
          are also briefly covered. In addition, there are sections on the history, goals and
          development of karate. Interesting to compare the techniques and attitudes of the 1920's
          with those of today.
      </li>
      <li>
        <strong>
          <a href="https://www.amazon.com/Bubishi-Classic-Manual-Patrick-McCarthy/dp/4805313846?ie=UTF8&amp;tag=dckacl-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=0870114638" target="_blank">Bubishi: The bible of karate</a>
        </strong>
        <br>
        <em>
          Patrick McCarthy
        </em>
        <br>
          A translation and explanation of the classical Chinese martial arts manuscript known
          as the Bubishi. Also covers the history of karate from China, through Okinawa to Japan.
      </li>
      <li>
        <strong>
          <a href="https://www.amazon.co.uk/gp/product/0870114638?ie=UTF8&amp;tag=dckacl-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=0870114638" target="_blank">Karate-do: My Way of Life</a>
        </strong>
        <br>
        <em>
          Gichin Funakoshi
        </em>
        <br>
          The autobiography of Gichin Funakoshi considered to be the father of Shotokan
          karate. Interesting to compare his ideals with how Shotokan eventually evolved.
      </li>
      <li>
        <strong>
          <a href="http://www.kamikazeweb.com/index.php?action=article_detailed&amp;id=00611&amp;type=cesta&amp;ptrcode=28210" target="_blank">Shotokan Karate: A precise history</a>
        </strong>
        <br>
        <em>
          Harry Cook
        </em>
        <br>
          Covers the history of Shotokan from Okinawa to Japan and its subsequent dissemination
          internationally.
      </li>
      <li>
        <strong>
          <a href="https://www.amazon.co.uk/gp/product/0870111906?ie=UTF8&amp;tag=dckacl-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=0870111906" target="_blank">Karate-do Kyohan: The Master Text</a>
        </strong>
        <br>
        <em>
          Gichin Funakoshi
        </em>
        <br>
          Most of this book is given over to the original 15 kata of Shotokan, but basic
          techniques and kumite are also covered. Note however that several of the techniques
          demonstrated are slightly different from JKA influenced Shotokan and relate more to
          Shotokai karate.
      </li>
      <li>
        <strong>
          <a href="https://www.amazon.co.uk/gp/product/4770018916?ie=UTF8&amp;tag=dckacl-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=4770018916" target="_blank">Karate-do Nyumon: The Master Introductory Text</a>
        </strong>
        <br>
        <em>
          Gichin Funakoshi
        </em>
        <br>
          Demonstrates basic techniques and basic kumite. Note however that most of the
          techniques demonstrated are slightly different from JKA influenced Shotokan and
          relate more to Shotokai karate (but it is interesting to make a comparison).
          Also contains historical background and anecdotes.
      </li>
      <li>
        <strong>
          <a href="https://www.amazon.co.uk/s/ref=nb_sb_ss_i_1_12?url=search-alias%3Dstripbooks&amp;field-keywords=best+karate+nakayama&amp;sprefix=best+karate+%2Cstripbooks%2C134&amp;crid=36CP3ZUTSW6VL" target="_blank">Best Karate, Vols.1-11</a>&nbsp;
        </strong>
        <br>
        <em>
          Masatoshi Nakayama
        </em>
        <br>
          Although originally published in the 1970's, these books are still regarded as
          the standard of Shotokan technique and kata.
        <ul>
          <li>Vol 1: Comprehensive</li>
          <li>Vol 2: Fundamentals</li>
          <li>Vols 3-4: Kumite</li>
          <li>Vol 5: Heian and Tekki kata</li>
          <li>Vols 6-11: Intermediate and advanced kata.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>



{% endblock %}
