{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="container-fluid bg-white border">
        <div class="container-fluid pt-4">
            <div class="row g-0">
                <div class="d-none d-md-block col me-5">
                    {% if "placeholder" in post.featured_image.url %}
                    <img src="https://www.azquotes.com/picture-quotes/quote-only-through-training-will-a-person-learn-his-own-weaknesses-he-who-is-aware-of-his-gichin-funakoshi-124-23-94.jpg"
                        width="100%">
                    {% else %}
                    <img src="{{ post.featured_image.url}}" width="100%">
                    {% endif %}
                </div>
                <div class="col col-lg-6  col-sm-12 ps-2">
                    <h1><u>{{ post.title }}</u></h1>
                    <p>{{ post.author }} | {{ post.created_on }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col card border mt-4">
                <div class="card-body">
                    <p class="card-text ">{{ post.content | safe | striptags }}</p>
                    <div class="row">

                        <div class="col col-lg-1 col-sm-3">

                            <!--allowing to like the post only if the user is authentic-->
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost" value="{{post.slug}}" class="btn-like">
                                    <i class="fas fa-heart"></i>
                                </button>
                                {% else %}
                                <button type="submit" name="blogpost" value="{{post.slug}}" class="btn-like">
                                    <i class="far fa-heart"></i>
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }}</span>

                        </div>
                        <div class="col col-lg-1 col-sm-3">
                            {% with comments.count as total_comments %}
                            <strong class="text-secondary"><i class="far fa-comments"></i>
                                {{ total_comments }}
                            </strong>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8 card mb-2">
            <h3 class="text-center"><u>Comments:</u></h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <u>{{ comment.name }}</u> |
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span><br> wrote:
                    </p>
                    {{ comment.body | linebreaks }}

                </div>
                <a href="{% url 'edit_comment' comment.id %}" class="post-link btn btn-outline-secondary text-dark">Edit >></a>
                <a href="{% url 'delete_comment' comment.id %}" class="post-link btn btn-outline-secondary text-dark">Delete >></a>
                <hr>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-2">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3 class="text-center"><u>Leave a comment:</u></h3>
                <p class="text-center">Posting as: {{ user.username }}</p>
                <form method="post" class="comment-form">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-secondary border mt-2">Submit</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}